{% extends 'base.html' %}
{% load static %}

{% block title %}Create Network - RIZU{% endblock %}

{% block body_class %}page-create-vm{% endblock %}

{% block header %}
<div class="box-form">
    <div class="container-form">
        <div class="header-bar_vm">
            <h2 class="main-title_vm">Create your new <br> network!</h2>
            <div class="logo-section">
                <img src="{% static 'images/rizusinfondo.png' %}" alt="Rizu Logo" class="logo-img">
                <span class="logo-text">Rizu</span>
            </div>
        </div>
{% endblock %}

{% block content %}
        <form id="network-form" method="POST">
            {% csrf_token %}

            <!-- general section -->
            <div class="form-section">
                <h3 class="form-section__title">
                    <i class="fa-solid fa-network-wired fa-icon"></i> Network Configuration
                </h3>

                <div class="form-group mb-3">
                    <label for="network_name" class="form-label">Network Name</label>
                    <input type="text" name="network_name" class="form-control form-control-sm" id="network_name" required>
                </div>
            </div>

            <!-- creation btn -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="{% url 'dashboard' %}" class="btn btn-return-dash">Return to dashboard</a>
                <button type="submit" class="btn btn-create-vm">
                    <i class="fa-solid fa-network-wired me-2"></i>Create
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
</html>
