{% extends "base.html" %}
{% load static %}

{% block title %}Create Project{% endblock %}
{% block body_class %}page-create{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="box-form">
        <div class="container-form">

            <div class="header-bar_vm">
                <h2 class="main-title_vm">Create your new <br> project!</h2>
                <div class="logo-section">
                    <img src="{% static 'images/rizusinfondo.png' %}" alt="Rizu Logo" class="logo-img">
                    <span class="logo-text">Rizu</span>
                </div>
            </div>

            <form id="project-form" method="POST">
                {% csrf_token %}

                <!-- general section -->
                <div class="form-section">
                    <h3 class="form-section__title">
                        <i class="fa-solid fa-cloud fa-icon"></i> General
                    </h3>

                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Project name</label>
                        <input type="text" name="name" class="form-control form-control-sm" id="name" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="description" class="form-label">Project description</label>
                        <textarea name="description" class="form-control form-control-sm" id="description" rows="3" required></textarea>
                    </div>
                </div>

                <!-- creation btn -->
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <a href="{% url 'dashboard' %}" class="btn btn-return-dash">Return to dashboard</a>
                    <button type="submit" class="btn btn-create-project">
                        <i class="fa-solid fa-rocket me-2"></i>Create
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
