name: Run test cases

on:
    push:
        branches:
            - master

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Python
              id: setup_python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.x
                  cache: 'pip'

            - name: Install dependencies
              run: |
                  pip install -r requirements.txt

            - name: Run tests
              run: |
                  python manage.py test --settings=Rizu.test_settings --parallel --verbosity=2 --keepdb
